/* STYLING FOR NAVBAR */
.navbar {
  border-bottom: 1px solid #000000;
}

/* STYLING FOR LOGO IMAGES */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* STYLING FOR ABOUT SECTION ON HOME PAGE */
#about {
  color: #FFFFFF;
  background-color: #000000;
  overflow: auto;
}

/* STYLING FOR GET STARTED SECTION ON HOME PAGE */
#getStarted {
  color: #000000;
  background-color: #FFFFFF;
}

/* STYLING FOR HEADING TITLES */
h1, h2, h3, #p2 {
  text-align: center;
}

#h1 {
  color: #FFFFFF;
  font-size: 40px;
}

#h3, #p2 {
  color: #000000;
}

#p1 {
  text-align: center;
  color: #FFFFFF
}

p {
  font-size: 13px;
}

/* STYLING FOR COLUMNS IN ABOUT AND GET STARTED SECTION */
.columns {
  text-align: center;
}

.column {
  font-size: 20px;
}

#column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* STYLING FOR GET STARTED BUTTON ON HOME PAGE */
#button {
  margin: 0 auto;
  display: block;
}

/* STYLING FOR SOCIAL MEDIA SECTIONS ON HOME AND ABOUT PAGES */
#social {
  text-align: center;
}

/* STYLING FOR SOCIAL MEDIA ICONS IN SOCIAL MEDIA SECTION */
#socialIcons {
  display: inline-block;
}

/* STYLING FOR NAME INPUT ON SIGN UP PAGE */
#enterName {
  width: 900px;
  height: 50px;
}

/* STYLING FOR EMAIL INPUT ON SIGN UP PAGE */
#email {
  width: 900px;
  height: 50px;
}

/* STYLING FOR ALL INPUTS */
.control {
  text-align: center;
}

/* STYLING FOR DATE SECTION ON INTERESTS PAGE */
#basicDate {
  width: 300px;
  height: 50px;
}

/* STYLING FOR LOCATION SECTION ON INTERESTS PAGE */
#cityTown {
  width: 300px;
  height: 50px;
}

/* STYLING FOR CHECKBOXES IN ACTIVITIES SECTION ON INTERESTS PAGE */
.checkbox {
  display: block;
  text-align: center;
}  
.checkbox input, .radio input {
  cursor: pointer;
  vertical-align: sub;
}

span {
  vertical-align: middle;
}

/* STYLING FOR SUBMIT BUTTON ON INTERESTS PAGE */
 #submit {
  margin: 0 auto;
  display: block;
 }

